<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>990398771908-g4i90fpr1sfn6khosvar1033jlma5plk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.990398771908-g4i90fpr1sfn6khosvar1033jlma5plk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>990398771908-2ov9n5613q5ogvec34d42u2ltafvv8dc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAoswcGnELdycTICAyKm3hL9HWYZ6mf3Ps</string>
	<key>GCM_SENDER_ID</key>
	<string>990398771908</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emplooy</string>
	<key>PROJECT_ID</key>
	<string>emplooy-feb21</string>
	<key>STORAGE_BUCKET</key>
	<string>emplooy-feb21.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:990398771908:ios:dfa699ccf5333e1259cf91</string>
	<key>DATABASE_URL</key>
	<string>https://emplooy-feb21.firebaseio.com</string>
</dict>
</plist>